* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* nav {
    background: linear-gradient(to right, #3D124F, #9348c7);
    
} */

body{
    background-color: #061b50ba;
}

/*Scrollbar CSS*/
.left::-webkit-scrollbar {
  width: 10px;
}

.left::-webkit-scrollbar-thumb {
  background-color: rgba(232, 198, 193, 0.795);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color:  #ffffff;
}
.navbar {
    background-color: #8220ac90;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.5s ease-in-out;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
  }
  
  .navbar.block {
    background: linear-gradient(to right, #3D124F, #9348c7);
  }

.logoContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
#logoMairie{
    /* max-width: 60%;
    max-height: 60%; */
    width: 30%;
}
#logoMairie img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#logoEsport{
    display: flex;
    flex-direction: row;
}
#logoEsport img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#userContainer{
  width: 10rem;
  height: 8vh;
}
#userContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
}
li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #9348c7);
}

.parrainageText{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.parrainageText p{
    font-size: 1.6rem;
    color: #f2f2f2;
}

.container {
    margin-top: 5rem;
    /* margin: 50px auto;
    max-width: 800px;
    text-align: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #3D124F;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.games{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#evenementINC{
    color: #f2f2f2;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
nav a {
    display: inline-block;
    /* background-color: #3D124F; */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}

.container a {

    display: inline-block;
    background-color: #3D124F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

a:hover {
    background: linear-gradient(to right, #3D124F, #9348c7);
}

.referral {
    background: linear-gradient(to right, #3D124F, #9348c7);
    color: #fff;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.referral h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff; */

}

.referral p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.referral ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.referral ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.referral a {
    display: inline-block;
    background-color: #fff;
    color: #3D124F
}

#entete{
    margin-bottom: 6vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(40deg, rgba(93, 30, 161, 0.75), rgba(0, 61, 102, 0.75), rgba(0, 0, 0, 0.75)), url('https://233b1d13b450eb6b33b4-ac2a33202ef9b63045cbb3afca178df8.ssl.cf1.rackcdn.com/blog-images/Stafford/e-sportsphotos_59.jpg');
}

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .flex-flex {
    display: flex;
  }
  
  .center-center {
    align-items: center;
    justify-content: center;
  }
  
  .box-root {
    box-sizing: border-box;
  }
  
  .box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
  }
  
  .box-background--blue {
    background-color: #5469d4;
  }
  
  .box-background--white {
    background-color: #ffffff;
  }
  
  .box-background--blue800 {
    background-color: #212d63;
  }
  
  .box-background--gray100 {
    background-color: #e3e8ee;
  }
  
  .box-background--cyan200 {
    background-color: #7fd3ed;
  }
  
  .padding-top--64 {
    padding-top: 64px;
  }
  
  .padding-top--24 {
    padding-top: 24px;
  }
  
  .padding-top--48 {
    padding-top: 48px;
  }
  
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  
  .padding-horizontal--48 {
    padding: 48px;
  }
  
  .padding-bottom--15 {
    padding-bottom: 15px;
  }
  
  .flex-justifyContent--center {
    justify-content: center;
  }
  
  .formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  
  span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
  
  .reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
  
  .grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  
  .field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
  }

input[type="submit"] {
    background-color: #3D124F;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}


input[type="submit"]:hover {
    background: linear-gradient(to right, rgba(186, 119, 220, 0.854), #9348c7);
}
.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px; 
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}


.menu-btn {
  display: none;
}

@media (max-width: 760px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu li {
    display: block;
    margin-bottom: 10px;
  }

  .menu-btn:checked ~ .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #3D124F;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .menu-btn:checked ~ .menu li {
    margin-bottom: 0;
  }

  .menu-icon .navicon {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
  }

  .menu-icon .navicon:before {
    top: -6px;
  }

  .menu-icon .navicon:after {
    bottom: -6px;
  }
  .menu-icon {
    display: block;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 5px;
    position: absolute;
    top: 150%;
    width: 100%;
  }
  
  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .menu-icon .navicon:before {
    top: -10px;
  }
  
  .menu-icon .navicon:after {
    bottom: -10px;
  }
  .games{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -2;
  }
}
body
{
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}
.center
{
  width:100%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  margin: 2em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  box-shadow:  10px 10px 20px #360b42, -10px -10px 20px #360b42;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:18em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://ea6kwt57nbj.exactdn.com/wp-content/uploads/2022/07/league-of-legends-screenshot-1-ecran-partage.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}
.property-image--mk {
  background-image:url('https://www.global-esports.news/wp-content/uploads/2022/08/CSGO-Patch-Map-Customization-and-New-Music.jpg');

}
.property-image2--mk{
  background-image: url('https://i.jeuxactus.com/datas/jeux/m/a/mario-kart-8-deluxe/xl/mario-kart-8-deluxe-6204c3e5294bf.jpg');
}
/* Bottom Card Section */
.property-description
{
  background-color: #FAFAFC;
  height:0em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding:0px 1em;
  text-align:center;
}
/* Social Icons */
.property-social-icons
{
  width:1em;
  height:1em;
  background-color:white;
  position:absolute;
  bottom:1em;
  left:1em;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
  -webkit-transition:all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:12em;
  padding: 0.5em 1em;
}
.property-card:hover .property-image
{
  height:6em;
}

.property-card:hover .property-social-icons
{
  background-color:black;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}




.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}


